version: "3"
services:
  pal:
    build: ./build
    restart: always
    environment:
      TZ: Asia/Tokyo
      UPDATE_BEFORE_STARTUP: TRUE
      MULTITHREAD: TRUE
      RUNNING_120FPS: TRUE
      PORT: "8211"
      PLAYERS: "32"
      SERVER_NAME: ""
      SERVER_PASS: ""
      ADMIN_PASS: ""
      COMMUNITY_SERVER: TRUE
      PUBLIC_IP: ""
      PUBLIC_PORT: ""
    volumes:
      - ./data:/home/steam/palworld
    ports:
      - "8211:8211/udp"
      - "27015:27015/udp"
      - "27015:27015/tcp"
    healthcheck:
      test: ["CMD-SHELL", "healthcheck.sh"]
      interval: 1m
      timeout: 30s
      retries: 3
      start_period: 5m
