[Unit]
  Description=Palworld Dedicated Server
  Requires=docker.service
  After=docker.service

[Service]
  Type=simple
  Restart=always
  Environment=COMPOSE_DIR=/srv/docker-compose/palworld
  ExecStart=/usr/bin/docker compose  -f ${COMPOSE_DIR}/compose.yml up
  ExecStop=/usr/bin/docker compose   -f ${COMPOSE_DIR}/compose.yml down
  ExecReload=/usr/bin/docker compose -f ${COMPOSE_DIR}/compose.yml restart

[Install]
  WantedBy=default.target
