[Unit]
  Description=Palworld Dedicated Server
  Requires=docker.service
  After=docker.service

[Service]
  Type=simple
  Restart=always
  Environment=COMPOSE_DIR=/srv/docker-compose/palworld
  ExecStart=/usr/local/bin/docker compose  -f ${DOCKER_DIR}/docker-compose.yml up
  ExecStop=/usr/local/bin/docker compose   -f ${DOCKER_DIR}/docker-compose.yml down
  ExecReload=/usr/local/bin/docker compose -f ${DOCKER_DIR}/docker-compose.yml restart

[Install]
  WantedBy=default.target
